In [1]:
import pandas as pd

In [2]:
from lxml import html
import requests

In [3]:
page = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
tree = html.fromstring(page.content)

In [4]:
tree

In [5]:
pip install requests

The following command must be run outside of the IPython shell:

    $ pip install requests

The Python package manager (pip) can only be used from outside of IPython.
Please reissue the `pip` command in a separate terminal or command prompt.

See the Python documentation for more information on how to install packages:

    https://docs.python.org/3/installing/

In [6]:
exit()

In [2]:
import requests

In [3]:
import lxml

In [4]:
import bs4

In [5]:
res=requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [6]:
type(res)

requests.models.Response

In [7]:
soup=bs4.BeautifulSoup(res.text,'lxml')

In [8]:
table=soup.select('table')

In [9]:
l=[]
k=[]

In [10]:
table1=soup.select('td')

In [11]:
for i in table1:
    l.append(i.text)

In [12]:
theList = list(range(863))
N=3

In [13]:
subList = [l[n:n+N] for n in range(0, len(l), N)]

In [14]:
subList[287][1]

'Not assigned'

In [15]:
a=[]
b=[]
c=[]
for x in range(0,287):
    a.append(subList[x][0])

In [17]:
import pandas as pd
df1=pd.DataFrame(a)
df1.head()

     0
0  M1A
1  M2A
2  M3A
3  M4A
4  M5A

In [18]:
c=[]
for y in range(0,287):
    c.append(subList[y][1])

In [19]:
df2=pd.DataFrame(c)
df2.head()

                  0
0      Not assigned
1      Not assigned
2        North York
3        North York
4  Downtown Toronto

In [20]:
d=[]
for z in range(0,287):
    d.append(subList[z][2])

In [21]:
df3=pd.DataFrame(d)
df3.head()

                    0
0      Not assigned\n
1      Not assigned\n
2         Parkwoods\n
3  Victoria Village\n
4      Harbourfront\n

In [22]:
d=pd.concat([df1,df2],axis=1)

In [23]:
df=pd.concat([d,df3],axis=1)
df.head()

     0                 0                   0
0  M1A      Not assigned      Not assigned\n
1  M2A      Not assigned      Not assigned\n
2  M3A        North York         Parkwoods\n
3  M4A        North York  Victoria Village\n
4  M5A  Downtown Toronto      Harbourfront\n

In [24]:
df.head(index=False)

TypeError: head() got an unexpected keyword argument 'index'

In [27]:
df.columns=['postcode','borough','Neighborhood']

In [33]:
df.head()

  postcode           borough        Neighborhood
0      M1A      Not assigned      Not assigned\n
1      M2A      Not assigned      Not assigned\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n

In [34]:
df2=df[df['borough']!='Not assigned']

In [44]:
df2[df2['Neighborhood']=='Not assigned\n']

  postcode       borough    Neighborhood
8      M7A  Queen's Park  Not assigned\n

In [57]:
df2.at[8,'Neighborhood']="Queen's Park"

In [60]:
df2[df2['borough']=='Not assigned\n']

Empty DataFrame
Columns: [postcode, borough, Neighborhood]
Index: []

In [185]:
d=df2[['postcode','borough']].groupby(['postcode']).sum()

In [215]:
d['borough'].replace(to_replace='ScarboroughScarborough',value='Scarborough',inplace=True)

In [217]:
d['borough'].replace(to_replace='ScarboroughScarboroughScarborough',value='Scarborough',inplace=True)
d.head()

              borough
postcode
M1B       Scarborough
M1C       Scarborough
M1E       Scarborough
M1G       Scarborough
M1H       Scarborough

In [219]:
d['borough'].replace(to_replace='ScarboroughScarboroughScarboroughScarborough',value='Scarborough',inplace=True)

In [220]:
d['borough'].replace(to_replace='North YorkNorth York',value='North York',inplace=True)

In [324]:
d['borough'].replace(to_replace='North YorkNorth YorkNorth York',value='North York',inplace=True)

In [230]:
d['borough'].replace(to_replace='YorkYorkYorkYork',value='York',inplace=True)

In [231]:
d['borough'].replace(to_replace='YorkYork',value='York',inplace=True)

In [243]:
d['borough'].replace(to_replace='EtobicokeEtobicoke',value='Etobicoke',inplace=True)

In [249]:
d['borough'].replace(to_replace='Central TorontoCentral TorontoCentral TorontoCentral TorontoCentral Toronto',value='Central Toronto',inplace=True)

In [252]:
d['borough'].replace(to_replace='Downtown TorontoDowntown TorontoDowntown TorontoDowntown TorontoDowntown TorontoDowntown TorontoDowntown Toronto',value='Downtown Toronto',inplace=True)

In [254]:
d['borough'].replace(to_replace='Central TorontoCentral TorontoCentral Toronto',value='Central Toronto',inplace=True)

In [255]:
d['borough'].replace(to_replace='East YorkEast York',value='East York',inplace=True)

In [276]:
d

                   borough
postcode
M1B            Scarborough
M1C            Scarborough
M1E            Scarborough
M1G            Scarborough
M1H            Scarborough
M1J            Scarborough
M1K            Scarborough
M1L            Scarborough
M1M            Scarborough
M1N            Scarborough
M1P            Scarborough
M1R            Scarborough
M1S            Scarborough
M1T            Scarborough
M1V            Scarborough
M1W            Scarborough
M1X            Scarborough
M2H             North York
M2J             North York
M2K             North York
M2L             North York
M2M             North York
M2N             North York
M2P             North York
M2R             North York
M3A             North York
M3B             North York
M3C             North York
M3H             North York
M3J             North York
...                    ...
M6C                   York
M6E                   York
M6G       Downtown Toronto
M6H             North York
M6J             North York
M6K           West Toronto
M6L             North York
M6M                   York
M6N                   York
M6P             North York
M6R             North York
M6S             North York
M7A           Queen's Park
M7R            Mississauga
M7Y           East Toronto
M8V              Etobicoke
M8W              Etobicoke
M8X              Etobicoke
M8Y              Etobicoke
M8Z              Etobicoke
M9A              Etobicoke
M9B              Etobicoke
M9C              Etobicoke
M9L             North York
M9M             North York
M9N                   York
M9P              Etobicoke
M9R              Etobicoke
M9V              Etobicoke
M9W              Etobicoke

[103 rows x 1 columns]

In [156]:
df3=df2.groupby(['postcode']).sum()
df3.head(20)

,borough,Neighborhood
postcode,,
M1B,ScarboroughScarborough,Rouge\nMalvern\n
M1C,ScarboroughScarboroughScarborough,Highland Creek\nRouge Hill\nPort Union\n
M1E,ScarboroughScarboroughScarborough,Guildwood\nMorningside\nWest Hill\n
M1G,Scarborough,Woburn\n
M1H,Scarborough,Cedarbrae\n
M1J,Scarborough,Scarborough Village\n
M1K,ScarboroughScarboroughScarborough,East Birchmount Park\nIonview\nKennedy Park\n
M1L,ScarboroughScarboroughScarborough,Clairlea\nGolden Mile\nOakridge\n
M1M,ScarboroughScarboroughScarborough,Cliffcrest\nCliffside\nScarborough Village West\n
M1N,ScarboroughScarborough,Birch Cliff\nCliffside West\n
M1P,ScarboroughScarboroughScarborough,Dorset Park\nScarborough Town Centre\nWexford ...
M1R,ScarboroughScarborough,Maryvale\nWexford\n
M1S,Scarborough,Agincourt\n
M1T,ScarboroughScarboroughScarborough,Clarks Corners\nSullivan\nTam O'Shanter\n
M1V,ScarboroughScarboroughScarboroughScarborough,Agincourt North\nL'Amoreaux East\nMilliken\nSt...
M1W,Scarborough,L'Amoreaux West\n
M1X,Scarborough,Upper Rouge\n
M2H,North York,Hillcrest Village\n
M2J,North YorkNorth YorkNorth York,Fairview\nHenry Farm\nOriole\n
M2K,North York,Bayview Village\n

In [81]:
df4=df3['Neighborhood'].str.split("\n")

In [82]:
df4=pd.DataFrame(df4)

In [86]:
df4.head()

                                        Neighborhood
postcode
M1B                               [Rouge, Malvern, ]
M1C       [Highland Creek, Rouge Hill, Port Union, ]
M1E            [Guildwood, Morningside, West Hill, ]
M1G                                       [Woburn, ]
M1H                                    [Cedarbrae, ]

In [121]:
df5=df4.copy()

In [168]:
#for i in df5['Neighborhood']:
    #print(i)
df100=df5[:'Neighborhood']  
df100=pd.DataFrame(df100)
df100.head()

                                      Neighborhood
postcode
M1B                               [Rouge, Malvern]
M1C       [Highland Creek, Rouge Hill, Port Union]
M1E            [Guildwood, Morningside, West Hill]
M1G                                       [Woburn]
M1H                                    [Cedarbrae]

In [275]:
df9=pd.DataFrame()
df100

                                               Neighborhood
postcode
M1B                                        [Rouge, Malvern]
M1C                [Highland Creek, Rouge Hill, Port Union]
M1E                     [Guildwood, Morningside, West Hill]
M1G                                                [Woburn]
M1H                                             [Cedarbrae]
M1J                                   [Scarborough Village]
M1K           [East Birchmount Park, Ionview, Kennedy Park]
M1L                       [Clairlea, Golden Mile, Oakridge]
M1M       [Cliffcrest, Cliffside, Scarborough Village West]
M1N                           [Birch Cliff, Cliffside West]
M1P       [Dorset Park, Scarborough Town Centre, Wexford...
M1R                                     [Maryvale, Wexford]
M1S                                             [Agincourt]
M1T               [Clarks Corners, Sullivan, Tam O'Shanter]
M1V       [Agincourt North, L'Amoreaux East, Milliken, S...
M1W                                       [L'Amoreaux West]
M1X                                           [Upper Rouge]
M2H                                     [Hillcrest Village]
M2J                          [Fairview, Henry Farm, Oriole]
M2K                                       [Bayview Village]
M2L                              [Silver Hills, York Mills]
M2M                               [Newtonbrook, Willowdale]
M2N                                      [Willowdale South]
M2P                                       [York Mills West]
M2R                                       [Willowdale West]
M3A                                             [Parkwoods]
M3B                                       [Don Mills North]
M3C                      [Flemingdon Park, Don Mills South]
M3H       [Bathurst Manor, Downsview North, Wilson Heights]
M3J                       [Northwood Park, York University]
...                                                     ...
M6C                                    [Humewood-Cedarvale]
M6E                                   [Caledonia-Fairbanks]
M6G                                              [Christie]
M6H                          [Dovercourt Village, Dufferin]
M6J                              [Little Portugal, Trinity]
M6K          [Brockton, Exhibition Place, Parkdale Village]
M6L                    [Downsview, North Park, Upwood Park]
M6M        [Del Ray, Keelesdale, Mount Dennis, Silverthorn]
M6N                         [The Junction North, Runnymede]
M6P                         [High Park, The Junction South]
M6R                                [Parkdale, Roncesvalles]
M6S                                    [Runnymede, Swansea]
M7A                                                      []
M7R                 [Canada Post Gateway Processing Centre]
M7Y       [Business Reply Mail Processing Centre 969 Eas...
M8V          [Humber Bay Shores, Mimico South, New Toronto]
M8W                                [Alderwood, Long Branch]
M8X         [The Kingsway, Montgomery Road, Old Mill North]
M8Y       [Humber Bay, King's Mill Park, Kingsway Park S...
M8Z       [Kingsway Park South West, Mimico NW, The Quee...
M9A                                      [Islington Avenue]
M9B       [Cloverdale, Islington, Martin Grove, Princess...
M9C       [Bloordale Gardens, Eringate, Markland Wood, O...
M9L                                         [Humber Summit]
M9M                                      [Emery, Humberlea]
M9N                                                [Weston]
M9P                                             [Westmount]
M9R       [Kingsview Village, Martin Grove Gardens, Rich...
M9V       [Albion Gardens, Beaumond Heights, Humbergate,...
M9W                                             [Northwest]

[103 rows x 1 columns]

In [287]:
nfinal=pd.merge(left=d,right=df100,left_index=True,right_index=True)

In [293]:
nfinal.at['M7A',"Neighborhood"]="Queen's Park"

In [296]:
n1final=nfinal.copy()

In [317]:
str(n1final['Neighborhood'][1]).replace('[','')

"'Highland Creek', 'Rouge Hill', 'Port Union']"

In [310]:
p=[1,2,3]
k=str(p)
k.replace('[','')
k.replace(']','')

'[1, 2, 3'

In [93]:
neighborhood=df4['Neighborhood']
dfn=pd.DataFrame()

In [358]:
nfinal

                   borough                                       Neighborhood
postcode
M1B            Scarborough                                   [Rouge, Malvern]
M1C            Scarborough           [Highland Creek, Rouge Hill, Port Union]
M1E            Scarborough                [Guildwood, Morningside, West Hill]
M1G            Scarborough                                           [Woburn]
M1H            Scarborough                                        [Cedarbrae]
M1J            Scarborough                              [Scarborough Village]
M1K            Scarborough      [East Birchmount Park, Ionview, Kennedy Park]
M1L            Scarborough                  [Clairlea, Golden Mile, Oakridge]
M1M            Scarborough  [Cliffcrest, Cliffside, Scarborough Village West]
M1N            Scarborough                      [Birch Cliff, Cliffside West]
M1P            Scarborough  [Dorset Park, Scarborough Town Centre, Wexford...
M1R            Scarborough                                [Maryvale, Wexford]
M1S            Scarborough                                        [Agincourt]
M1T            Scarborough          [Clarks Corners, Sullivan, Tam O'Shanter]
M1V            Scarborough  [Agincourt North, L'Amoreaux East, Milliken, S...
M1W            Scarborough                                  [L'Amoreaux West]
M1X            Scarborough                                      [Upper Rouge]
M2H             North York                                [Hillcrest Village]
M2J             North York                     [Fairview, Henry Farm, Oriole]
M2K             North York                                  [Bayview Village]
M2L             North York                         [Silver Hills, York Mills]
M2M             North York                          [Newtonbrook, Willowdale]
M2N             North York                                 [Willowdale South]
M2P             North York                                  [York Mills West]
M2R             North York                                  [Willowdale West]
M3A             North York                                        [Parkwoods]
M3B             North York                                  [Don Mills North]
M3C             North York                 [Flemingdon Park, Don Mills South]
M3H             North York  [Bathurst Manor, Downsview North, Wilson Heights]
M3J             North York                  [Northwood Park, York University]
...                    ...                                                ...
M6C                   York                               [Humewood-Cedarvale]
M6E                   York                              [Caledonia-Fairbanks]
M6G       Downtown Toronto                                         [Christie]
M6H             North York                     [Dovercourt Village, Dufferin]
M6J             North York                         [Little Portugal, Trinity]
M6K           West Toronto     [Brockton, Exhibition Place, Parkdale Village]
M6L             North York               [Downsview, North Park, Upwood Park]
M6M                   York   [Del Ray, Keelesdale, Mount Dennis, Silverthorn]
M6N                   York                    [The Junction North, Runnymede]
M6P             North York                    [High Park, The Junction South]
M6R             North York                           [Parkdale, Roncesvalles]
M6S             North York                               [Runnymede, Swansea]
M7A           Queen's Park                                       Queen's Park
M7R            Mississauga            [Canada Post Gateway Processing Centre]
M7Y           East Toronto  [Business Reply Mail Processing Centre 969 Eas...
M8V              Etobicoke     [Humber Bay Shores, Mimico South, New Toronto]
M8W              Etobicoke                           [Alderwood, Long Branch]
M8X              Etobicoke    [The Kingsway, Montgomery Road, Old Mill North]
M8Y              Etobicoke  [Humber Bay, King's Mill Park, Kingsway Park S...
M8Z              Etobicoke  [Kingsway Park South West, Mimico NW, The Quee...
M9A              Etobicoke                                 [Islington Avenue]
M9B              Etobicoke  [Cloverdale, Islington, Martin Grove, Princess...
M9C              Etobicoke  [Bloordale Gardens, Eringate, Markland Wood, O...
M9L             North York                                    [Humber Summit]
M9M             North York                                 [Emery, Humberlea]
M9N                   York                                           [Weston]
M9P              Etobicoke                                        [Westmount]
M9R              Etobicoke  [Kingsview Village, Martin Grove Gardens, Rich...
M9V              Etobicoke  [Albion Gardens, Beaumond Heights, Humbergate,...
M9W              Etobicoke                                        [Northwest]

[103 rows x 2 columns]